{% extends 'template/master.twig' %}

{% set title = "INÍCIO" %}

{% block master %}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item">
                <a>BEM VINDO</a>
            </li>
            <li class="breadcrumb-item active">SISTEMA DE VENDAS</li>
        </ol>

        <!-- Page Content -->
        <h1>SISTEMA PARA BARES E RESTAURANTES</h1>
        <hr>
        <p style="color: white">AQUI VOCÊ REALIZA CADASTRO E VENDAS DE PRODUTOS, PARA CONTROLAR SEU ESTOQUE.</p>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->

{% endblock %}