<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if title is defined %} {{ title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="/components/fontawesome-free/css/all.min.css">

    <!-- Page level plugin CSS-->
    <link rel="stylesheet" type="text/css" href="/components/datatables/dataTables.bootstrap4.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/assets/css/sb-admin.css">

    <!-- Custom styles para tela de register -->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- Favicon do site -->
    <link rel="icon" type="image/png" href="/assets/images/3.ico"/>


</head>

<style>
    body {
        background: #2a3f54 !important;
        margin-top: 2px;
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        line-height: 1.5;
        color: white;
        text-transform: uppercase !important;
    }

    /* muda a cor da linha da tabela */
    .even {
        background: #343a40 !important;
    }

    .color-default {
        background: #2a3f54 !important;
    }

    h1 {
        color: #ffffff;
    }

    h2 {
        color: #ffffff;
    }

    h3 {
        color: #ffffff;
    }

    h4 {
        color: #ffffff;
    }

    h5 {
        color: #ffffff;
    }

    h6 {
        color: #ffffff;
    }

    label {
        color: #ffffff;
        font-size: large;
    }

    p {
        font-size: large;
        color: #ffffff !important;
    }

    td {
        color: white;
    }

    .dataTable tr {
        color: #ffffff !important;
    }

    .table-condensed tr {
        font-size: large !important;
        color: white !important;
    }

    .toast-message {
        font-size: large;
        color: #ffffff !important;
    }

    .error {
        color: #1ABB9C !important;
    }

    /* muda a cor da linha da tabela */
    .even {
        background: #343a40 !important;
    }

    ul li .active a {
        color: white;
    }

    ul li a {
        color: white;
    }

    select option.selected {
        font-weight: bold;
        color: red;
    }

    h2 small {
        color: white;
    }

    .modal-body {
        font-size: large;
        background-color: #15202a;
    }

    .modal-header {
        background-color: #15202a;
    }

    /*.dropdown {*/
    /*display: none;*/
    /*}*/

    .panel_toolbox > li > a {
        padding: 5px;
        color: #C5C7CB;
        font-size: 14px;
        /* margin-right: -44px; */
        margin-left: 47px;
    }

    .nav-md ul.nav.child_menu li:before {
        background: white !important;
    }

    .dataTables_wrapper {
        color: white;
    }

    .dataTables_paginate {
        color: white;
    }

    .dataTables_info {
        color: white;
    }

    .icon-person {
        color: white !important;
    }

    .way {
        margin-bottom: 5px;
        height: 56px;
        color: white !important;
    }

    #hide-way {
        cursor: pointer;
        color: white !important;
    }

    .dtr-title {
        color: #ffffff;
    }

    .site_title {
        font-weight: 400;
        font-size: 22px;
        color: white !important;
        width: 100%;
        line-height: 34px;
        display: inline-table;
        height: 55px;
        margin: 0;
        padding-left: 10px;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu a::after {
        transform: rotate(0deg);
    }

    .dropdown-submenu .dropdown-menu {
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field
    select, option, textarea,
    input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
    .uneditable-input {
        text-transform: uppercase !important;
    }

</style>

<body id="page-top">

{% include 'template/navbar.twig' %}

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-glass-martini-alt"></i>
                <i class="fas fa-utensils"></i><br>
                <span>BEM VINDO(A),</span><br>
                <i>{{ TwigFunctions('user').name }}</i>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="addDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-plus-circle"></i>
                <span> cadastro</span>
            </a>
            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item bg-dark" href="/mesa/cadastro">
                    <i class="fas fa-fw fa-ad text-white"> mesas</i>
                </a>
                <a class="dropdown-item bg-dark" href="/produto/cadastro">
                    <i class="fas fa-fw fa-ad text-white"> produtos</i>
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="managementDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-address-card"></i>
                <span> gestão</span>
            </a>
            <div class="dropdown-menu bg-dark">

                <a class="dropdown-item bg-dark" href="/garcom/cadastro">
                    <i class="fas fa-fw fa-chalkboard-teacher text-white"> add garçom</i>
                </a>

                <a class="dropdown-item bg-dark" href="/cliente/cadastro">
                    <i class="fas fa-fw fa-user-tie text-white"> add cliente</i>
                </a>

                <a class="dropdown-item bg-dark" href="/user/dado">
                    <i class="fas fa-fw fa-user-tie text-white"> Operação</i>
                </a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="listDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder-open"></i>
                <span> detalhes</span>
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Usuarios</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Ativos</a></li>
                        <li><a class="dropdown-item" href="#">Inativos</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="boxDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-cart-plus"></i>
                <span> pedidos</span>
            </a>
            <div class="dropdown-menu bg-dark">

                <a class="dropdown-item bg-dark" href="/caixa/venda">
                    <h6>R<i class="fas fa-fw fa-dollar-sign text-white"> caixa</i></h6>
                </a>
            </div>
        </li>

    </ul>
    {% block master %}{% endblock %}
</div>
<br>
<div class="text-center">
    <a class="txt2" href="#">
        copyright &copy;2018. Todos os direitos reservados.
        <i class="fab fa-autoprefixer" aria-hidden="true"></i>
        {#<i class="fa fa-fire m-l-5" aria-hidden="true"></i>#}
    </a>
</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript-->
<script src="/components/jquery/jquery.min.js"></script>
<script src="/components/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/components/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/components/chart.js/Chart.min.js"></script>
<script src="/components/datatables/jquery.dataTables.js"></script>
<script src="/components/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="/assets/js/demo/datatables-demo.js"></script>
<script src="/assets/js/demo/chart-area-demo.js"></script>

</body>

</html>
