{% extends 'user/layout.twig' %}

{% set title = 'LOGIN' %}

{% block layout %}

    <br><br>
    <div class="container-login100-form-btn" align="center">
        <form id="user_login" class="login100-form validate-form" action="/user/auth" method="post">
			<span class="login100-form-title">
				Login
			</span>

            <div class="wrap-input100 validate-input" data-validate="Digite um email válido ex: ex@fulano.com">
                <input class="input100" type="email" id="email" name="email" placeholder="Email">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
					<i class="fas fa-envelope" aria-hidden="true"></i>
				</span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Campo senha obrigatório">
                <input class="input100" type="password" id="password" name="password" placeholder="Senha">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
					<i class="fas fa-lock" aria-hidden="true"></i>
				</span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Login
                </button>

                <div class="text-center"><br><br>
                    <a class="txt2" href="/usuario/cadastro">
                        Crie sua conta
                        <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <script src="/components/jquery/dist/jquery-3.3.1.min.js"></script>
    {#<script type="text/javascript">#}
    {#$(document).ready(function () {#}
    {#$('#user_login').submit(function() {#}
    {#user.login();#}
    {#return false;#}
    {#});#}
    {#});#}
    {#</script>#}

{% endblock %}
