{% extends 'template/master.twig' %}

{% set title = 'CADASTRO' %}

{% block master %}

    <div class="container-login100-form-btn" align="center">
        <form id="user_create" class="login100-form" method="post">
			<span class="login100-form-title">
				Cadastro de Usuário
			</span>

            <div class="wrap-input100">
                <input class="input100" type="text" id="name" name="name" placeholder="Nome" required>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
					<i class="fa fa-user" aria-hidden="true"></i>
				</span>
            </div>

            <div class="wrap-input100">
                <input class="input100" type="email" id="email" name="email" placeholder="Email" required>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</span>
            </div>

            <div class="wrap-input100">
                <input class="input100" type="password" name="password" placeholder="Senha" required>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
            </div>

            <input type="hidden" id="status" name="status" value="1">

            <div class="wrap-input100">
                <select class="input100 uneditable-input" id="function_id" name="function_id" required>


                </select>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
					<i class="fa fa-question" aria-hidden="true"></i>
				</span>
            </div>
            <!--<input type="hidden" id="function_id" name="function_id" value="3">-->
            <br>
            <br>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Cadastrar
                </button>

                <div class="text-center"><br><br>
                    <a class="txt2" href="/login">
                        Já tem conta? Faça o login
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            user.index();
            // $('#user_create').submit(function () {
            //     user.register();
            //     return false;
            // });
        });
    </script>

{% endblock %}

